.pai{

    background-color: green;
    width: 420px;
    height: 420px;
    align-items: center;
    margin: 20px 0;
  
}

.f1{

    background-color: red;
    width: 120px;
    height: 120px;
    position: relative;
    /*4 possibilidades
        direita
        esquerda
        encima
        embaixo
    */

   
}

.f2{

    background-color: blue;
    width: 120px;
    height: 120px;
    position: sticky;
    left: 2px;
    bottom: 120px;
}

p{

    margin-left: 80px;
    height: 20px;
    padding-top: 50px;
    background-color: blueviolet;
}