
nav{

    background-color: 	#BDB76B;
    margin-left: 22px;
    margin-right: 80px;
}
ul{

   /*Alinha os itens na horizontal*/
    display: flex;

}

li{

    /*Tira as bolinhas dos itens*/
    list-style: none;
    padding: 20px;
}

a{

    /*Tira o sublinhadp do link*/
    text-decoration: none;
    color: azure;
    font-weight: bold;
    font-size: 22pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover{

    color: blue;
    text-decoration: overline;
    background-color: white;
    padding: 40px;
}

h2{

    padding: 15px;
    margin-left: 22px;
    margin-right: 80px;
    background-color: 	#BDB76B;
    color: azure;
    
}



img{

    /*Largura*/

    width: 600px;

    /*Altura*/

    /*heigth*/
    padding-left: 50px; 
    padding-top: 50px
    
}

div{

    display: flex;

}

p{

    margin-right: 70px;
    text-align: justify;
    margin-left: 30px;
    margin-top: 50px;
}


footer{

        background-color: 	#BDB76B;
        margin-left: 22px;
        margin-right: 80px;
       
}

h3{

    padding-top: 20px;
    text-align: center;
    color: azure;
    margin-bottom: 20px;
    padding-bottom: 13px;
    /*Bottom é para baixo*/

}

